{
	"env": {
		"es6": true,
		"browser": true,
		"jest": true,
		"node": true
	},
	"parserOptions": {
		"sourceType": "module"
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended"
	],
	"parser": "@babel/eslint-parser",
	"rules": {
		"react/react-in-jsx-scope": "off",
		"no-console": [
			"error",
			{
				"allow": [
					"warn",
					"error"
				]
			}
		],
		"indent": ["error", "tab"],
		"quotes": [
			"error",
			"double"
		],
		"semi": [
			"error",
			"always"
		],
		"template-curly-spacing": "off",
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"no-trailing-spaces": "error",
		"react/prefer-stateless-function": "warn",
		"prefer-rest-params": "warn",
		"no-unused-vars": "warn"
	},
	"globals": {
		"React": "writable"
	}
}